@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #161616;
  color: #ededed;
  padding: 0;
  margin: 0;
  overflow-y: hidden;
}

nav {
  height: 35px;
  display: flex;
  align-items: center;
  background: transparent;
}

nav>img {
  padding-left: 10px;
  -webkit-app-region: drag;
}

#title {
  user-select: none;
  font-size: 12px;
  margin-left: 10px;
  -webkit-app-region: drag;
}

:not(nav) {
  -webkit-app-region: no-drag;
}

.nav-buttons {
  margin-left: auto;
  height: 100%;
  display: flex;
}

.nav-buttons>button {
  transition: background .2s ease;
  background: transparent;
  border: none;
  width: 45px;
  height: 35px;
  margin: 0;
  aspect-ratio: 1;
  color: #ededed;
  font-size: 15px;
  user-select: none;
}

.nav-buttons>button:hover {
  transition: .2s ease;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.nav-buttons>button:active {
  background: rgba(255, 255, 255, 0.2);
}

.close:hover {
  background: #E81123 !important;
}

.close:active {
  background: #F1707A !important;
}

.close:active .icon {
  color: white;
}

/* --------------- */

body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('../img/bg5.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.server-status {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1B1D23;
  padding: 10px 20px;
  border-radius: 10px;
  text-align: center;
  width: 32%;
  height: 80px;
  max-width: 600px;
}

.server-status-icon {
  height: 90%;
  width: 13%;
}

.server-name {
  font-size: 1.5rem;
  font-weight: bold;
}

.server-info {
  padding-right: 10%;
  padding-left: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.status {
  color: rgba(18, 160, 110, 255);
  padding-top: 5px;
}

.status-player-count {
  min-width: 4.5rem;
  border-radius: 10px;
  color: white;
  box-shadow: 0 4px 6px rgba(34, 34, 34, 0.2);
  font-weight: bold;
}

.dot {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: #00CC66;
  border-radius: 50%;
  border: 3px solid #1B1D23;
}

.player-count {
  background: #17191d;
  padding: 12px 10px;
  border-radius: 5px;
  font-size: 2rem;
}

.play-bar {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: flex;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.596);
  border-left: 1px solid rgba(255, 255, 255, 0.295);
  border-top: 1px solid rgba(255, 255, 255, 0.295);
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  border-right: 1px solid rgba(255, 255, 255, 0.295);
}

.bar,
.text {
  padding: 12px 35px;
  color: white;
  text-align: center;
  cursor: pointer;
}

.bar {
  background: transparent;
  padding-right: 20px;
  padding-left: 20px;
  border-left: 1px solid rgba(255, 255, 255, 0.295);
  border-top: 1px solid rgba(255, 255, 255, 0.295);
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  border-radius: 0 15px 15px 0;
}

.user {
  border-left: 1px solid rgba(255, 255, 255, 0.295);
  border-top: 1px solid rgba(255, 255, 255, 0.295);
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  border-right: 1px solid rgba(255, 255, 255, 0.295);
  border-radius: 15px 0 0 15px;
}

.text {
  background: transparent;
  font-weight: bold;
  padding-right: 60px;
  padding-left: 60px;
  border-left: 1px solid rgba(255, 255, 255, 0.295);
  border-top: 1px solid rgba(255, 255, 255, 0.295);
  border-bottom: 1px solid rgba(255, 255, 255, 0.295);
  border-right: 1px solid rgba(255, 255, 255, 0.295);
}

.text:hover {
  transition: .2s ease;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.bar:hover {
  transition: .2s ease;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 0 15px 15px 0;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.user:hover {
  transition: .2s ease;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px 0 0 15px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.glow {
  text-shadow: 0 0 5px white;
}

.text.disabled {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
  cursor: default;
}

.text.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}

.text.buttonLoading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.text.buttonLoading {
  color: transparent !important;
  position: relative;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

body {
  margin: 0;
  padding: 0;
}

/* ----- Side Panel Config ------ */

.sidepanel {
  position: fixed;
  height: 100vh;
  width: 30%;
  min-width: 100px;
  z-index: 2;
  font-size: 1.5em;
  line-height: 1.5em;
  color: #f1f1f2;
  font-family: Helvetica;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  transition: transform 0.5s ease;
}

.sidepanel:before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 10px;
  top: 0;
  z-index: 1;
}

.sidepanel span {
  position: relative;
  display: block;
  width: calc(100% - 2em);
  min-width: 100px;
  padding: 1em;
}

.line {
  height: 1px;
  width: calc(100% - 44px);
  background-color: #E9D985;
  margin: 0 22px;
}

.left {
  left: 0;
  transform: translateX(-100%);
  border-top-right-radius: 10px;
}

.left.show {
  transform: translateX(0);
}

.right {
  right: 0;
  left: auto;
  transform: translateX(100%);
  border-top-left-radius: 10px;
}

.right.show {
  transform: translateX(0);
}

/* --shadow-color: #1f2937;
--shadow: var(--shadow-colored);
--shadow: 0 25px 50px -12px rgba(255, 255, 255, 0.25);
--shadow-colored: 0 25px 50px -12px var(--shadow-color);
box-shadow: var(--shadow); */