@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    font-family: "Inter";
    box-sizing: border-box;
}

body {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('../img/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: #ededed;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    transition: background-image 1s ease;
}

nav {
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0;
    left: 0;
}

nav>img {
    padding-left: 10px;
    -webkit-app-region: drag;
}

#title {
    user-select: none;
    font-size: 12px;
    margin-left: 10px;
    -webkit-app-region: drag;
    color: white;
}

:not(nav) {
    -webkit-app-region: no-drag;
}

.nav-buttons {
    margin-left: auto;
    height: 100%;
    display: flex;
}

.nav-buttons>button {
    transition: background 0.2s ease;
    background: transparent;
    border: none;
    border-radius: 0px;
    width: 45px;
    height: 35px;
    margin: 0;
    aspect-ratio: 1;
    color: #ededed;
    font-size: 15px;
    user-select: none;
}

.nav-buttons>button:hover {
    transition: 0.2s ease;
    background: rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.nav-buttons>button:active {
    background: rgba(255, 255, 255, 0.2);
}

.close:hover {
    background: #E81123 !important;
}

.close:active {
    background: #F1707A !important;
}

.close:active .icon {
    color: white;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: transparent;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
    width: 450px;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.logo {
    width: 100%;
}

h1 {
    margin-bottom: 20px;
    font-size: 15px;
    text-transform: uppercase;
}

.input-group {
    text-align: left;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginSVG {
    fill: #fff;
    height: 20px;
    width: 20px;
}

:focus {
    outline: none;
}

.col-3 {
    float: left;
    width: 61%;
    position: relative;
}

.login-line {
    height: 1px;
    width: 250px;
    background-color: white;
    margin: -1px;
}

.effect-2 {
    background: none;
    border-width: 1.5px 0px 0px 0px;
    border-style: solid;
    width: 250px;
    margin-bottom: 20px;
    border-color: #fff;
    color: rgba(255, 255, 255, 0.75);
    font-weight: bold;
    text-align: center;
    box-sizing: border-box;
    padding: 7.5px;
    font-size: 10px;
    letter-spacing: 1px;
    border: 0;
    padding: 7px 0;
    border-top: 1px solid white;
}

.effect-2~.focus-border {
    position: absolute;
    bottom: 50;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: #4caf50;
    transition: 0.4s;
}

.effect-2:focus~.focus-border {
    width: 100%;
    transition: 0.4s;
    left: 0;
}

.effect-2:focus {
    outline: none;
}

.effect-2:disabled {
    color: rgba(255, 255, 255, 0.50);
}

.effect-2::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.75);
    font-size: 10px;
    letter-spacing: 1px;
    text-align: center;
    font-weight: bold;
}

.effect-2:focus::-webkit-input-placeholder {
    color: transparent;
}

input[type="text"],
input[type="password"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font: 15px/24px "Lato", Arial, sans-serif;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
    letter-spacing: 1px;
}

.remember-me {
    display: flex;
    align-items: center;
    flex-direction: unset;
}

.remember-me input {
    margin-right: 10px;
}

.buttons {
    display: table;
    height: 100%;
    width: 100%;
}

.container {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.btnfos {
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    max-width: 140px;
    margin: 0 10px;
    position: relative;
    text-transform: uppercase;
    vertical-align: middle;
    width: 30%;
    background: transparent;
    border: none;
    outline: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    text-decoration: none;
}

.btnfos-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 0px;
    text-shadow: none;
    -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
    outline-color: white;
    outline-offset: 0px;
}

.btnfos-5:hover {
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.596);
}

.btnfos-5 .arrow-right {
    font-size: 18px;
    margin-left: 5px;
}

.btnfos-5 .arrow-left {
    font-size: 18px;
    margin-right: 5px;
}

#loginMessage {
    margin-bottom: 5px;
    font-size: 14px;
    display: none;
}

button.btnfos.btnfos-5 {
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
    max-width: 140px;
    margin: 0 10px;
    text-transform: uppercase;
    vertical-align: middle;
    width: 30%;
    outline: 1px solid;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

button.btnfos.btnfos-5:hover {
    outline-offset: 15px;
    outline-color: rgba(255, 255, 255, 0);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.596);
}