@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  font-family: "Inter";
  box-sizing: border-box;
}

body {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0) 100%), url('../img/bg4.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: #ededed;
  padding: 0;
  margin: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  transition: background-image 1s ease;
}

nav {
  height: 35px;
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
}

nav>img {
  padding-left: 10px;
  -webkit-app-region: drag;
}

#title {
  user-select: none;
  font-size: 12px;
  margin-left: 10px;
  -webkit-app-region: drag;
  color: white;
}

:not(nav) {
  -webkit-app-region: no-drag;
}

.nav-buttons {
  margin-left: auto;
  height: 100%;
  display: flex;
}

.nav-buttons>button {
  transition: background 0.2s ease;
  background: transparent;
  border: none;
  border-radius: 0px;
  width: 45px;
  height: 35px;
  margin: 0;
  aspect-ratio: 1;
  color: #ededed;
  font-size: 15px;
  user-select: none;
}

.nav-buttons>button:hover {
  transition: 0.2s ease;
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}

.nav-buttons>button:active {
  background: rgba(255, 255, 255, 0.2);
}

.close:hover {
  background: #E81123 !important;
}

.close:active {
  background: #F1707A !important;
}

.close:active .icon {
  color: white;
}

/* -------------- */

.login-container {
  text-align: center;
  background: transparent;
  padding: 20px;
  border-radius: 10px;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.5s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.login-container h1 {
  color: white;
  margin-bottom: 30px;
}

.login-button {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  padding: 15px 40px;
  border-radius: 5px;
  margin: 15px 0;
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: background 0.3s;
  border: 1px solid gray;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0) 100%), transparent;
  cursor: pointer;
}

.login-button .img-microsoft {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.login-button .img-offline {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.login-button:hover {
  transition: .2s ease;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7);
}

.buttonLoading .buttonText {
  visibility: hidden;
  opacity: 0;
}

.buttonLoading::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 4px solid transparent;
  border-top-color: #ffffff;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

.buttonLoading {
  color: transparent !important;
}

.buttonLoading>* {
  display: none;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}